{{>headerlogged}}

<div class="welcome-button">
    <h1>Bienvenido {{this.user.farmname}}</h1>
</div>

<nav>
    <a href="/recetas" class="link-button">Ir a Recetas</a>
    <a href="/productos" class="link-button">Ir a Productos/Lotes</a>
</nav>

