<div class="login-container">
    <form action="/register" method="POST">
        <div>
            <input type="text" placeholder="Usuario" id="username" name="username">
        </div>
        <div>
            <input type="text" placeholder="Contraseña" id="password" name="password">
        </div>
        <div>
            <input type="text" placeholder="Nombre" id="farmname" name="farmname">
        </div>

        <div>
            <button type="submit">Registrar</button>
        </div>
    </form>
</div>