<div class="form-container">
  <h2>Crear nuevo lote</h2>
  <form action="/fields/new-field" method="post">
    <div>
      <p>Nombre del lote:</p>
      <input type="text" name="name" />
    </div>
    <div>
      <p>Productor:</p>
      <input type="text" name="farmname" />
    </div>
    <div>
      <p>Superficie (has)</p>
      <input type="number" name="ha" />
    </div>

    <div>
      <input type="submit" class="submit-button" value="Guardar lote" />
    </div>
  </form>
</div>